<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<h1>Servidor Local</h1>

<label id="lbMessage"></label>

<div class="row">
  <div class="col m6">
    <div class="input-field col m6">
      <input placeholder="localhost" id="txtHost" type="text" class="validate">
      <label for="txtHost">Dirección IP</label>
    </div>
    <div class="input-field col m6">
      <input id="txtPort" type="text" class="validate" placeholder="3000">
      <label for="txtPort">Puerto</label>
    </div>
    <div class="input-field col m12">
      <input id="txtDir" type="text" class="validate" placeholder="3000">
      <label for="txtDir">Ruta de Directorio Público</label>
    </div>
    <div class="input-field col m6">
      <a class="waves-effect waves-light btn" id="btnRun">Iniciar</a>
    </div>
    <div class="input-field col m6">
      <a class="waves-effect waves-light btn" id="btnStop">Detener</a>
    </div>
  </div>
  <div class="col m6">
    <div id="logs"></div>
  </div>
</div>
<!--
<label>Host</label><br>
<br>
<input type="text" id="txtHost" placeholder="localhost"><br>
<label>Puerto</label><br>
<input type="text" id="txtPort" placeholder="3000"><br>
<label>Ruta de Directorio Público</label><br>
<input type="text" id="txtDir" placeholder=""><br>
<br><button id="btnRun">Iniciar</button>
<button id="btnStop" disabled>Detener</button>

<div id="logs"></div>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src='../forms/server.js'></script>
